* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    flex-wrap: wrap;
    background-color:  #734060;
    color: white;
}



.list-menu li {
    display: inline-block;
    margin: 0 5px;
}

.list-menu li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    padding: 10px;
    border-radius: 10px;
    transition: all 1s ease;
}

.list-menu li a:hover {
    background-color: rgba(0, 0, 0, 0.259);
}

header input {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;

}

button {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    transition: all 1s ease;

}

button:hover {
    transform: scale(1.10);
    background-color: rgb(77, 77, 77);
}

main {
    margin-top: 50px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

article {
    text-align: center;
    padding: 15px;
    margin: 10px;
    transition: all 1s ease;
    border-radius: 10px;
    ;
}

article:hover {
    background-color: rgba(128, 128, 128, 0.132);
}

article button {
    background-color: black;
    color: rgb(255, 255, 255);
    display: block;
    margin: 0 auto;
}

a {
    color: white;
    text-decoration: none;
}


.container {
    width: 65%;
    margin: 0 auto;
}

.box-comidas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;

}

img {
    width: 200px;
    border-radius: 10px;
    margin-bottom: 10px;
    transition: all 1s ease;
}

img:hover {
    transform: scale(1.05);
}

footer {
    background-color: #734060;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer p {
    color: white;
}

.list-redes-socias img {
    width: 20px;
}

.list-politica a {
    display: block;
    text-align: center;
    position: relative;
    right: 100px;
    color: white;
    text-decoration: none;
}